@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
html{
  font-family:'Raleway', Helvetica, sans-serif;
}
/* body{
  margin:0;
} */
body{
  position: absolute;
  top:0;
  left:0;
  margin:0;
  padding: 10px;
  height: 100%;
  background: #ccc;
  width: 100%;
  box-sizing: border-box;
}
#DRPicker{
  border: 0px solid #aaa;
  background: #fff;
  border-radius: 4px;
  top:9px;
  left: 0px;
  padding: 5px;
  /* margin: 5px; */
  max-width: 576px;
}
#DRPicker:before{
  content: '';
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 9px 6px;
  border-color: transparent transparent rgba(0,0,0,0) transparent;
}
#DRPicker:after{
  content: '';
  position: absolute;
  width: 0;
  top: -9px;
  left: 10px;
  height: 0;
  border-style: solid;
  border-width: 0 6px 9px 6px;
  border-color: transparent transparent #ffffff transparent;
}
.headersForTables{
  width: 100%;
}
.headersForTables td{
  padding-left: 20px;
  width: 50%;
  font-size: 10px;
  color: #e0e0e0;
  box-sizing: border-box;
}
.TableDiv{
  padding:4px;
  float: left;
}
.TableDiv table th{
  opacity: 0.65;
  transition:0.2s;
}
.TableDiv table td{
  font-weight: 500;
  transition:0.2s;
}
.TableDiv table th:hover{
  opacity: 1;
}
.arrow{
  cursor: pointer;
  opacity: 0.65;
  transition: 0.2s;
}
.arrow:hover{
  opacity: 1;
}
.numberTd{
  padding: 0;
  background:#fbfbfb;
}
.dateNumber{
  cursor:pointer;
  padding:0;
  border-radius:0px;
  line-height:32px;
  height:32px;
  width:34px;
}
.clicked{
  background: red;
  transition: all 0.3s;
}
.sclicked{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.eclicked{
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hovering{
  background: #30bfff;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  transition: all 0.3s;
}
.today{
  /* background: yellow; */
}
.today:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 0px;
  border-color: transparent rgb(0, 0, 0) transparent transparent;
  /* margin-left: 3.5px; */
}
#DRPickerClose{
  clear: left;
  display: block;
  float: right;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid rgba(0,0,0,0.45);
  padding: 2px 10px;
  border-radius: 3px;
  background: #b30000;
  color: #fff;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  cursor: pointer;
}#DRPickerClose:hover{box-shadow: 1px 1px 2px 0 rgba(0,0,0,0);}
.inRange{
  background:rgba(255,0,0,0.3);
}
.onlysclicked{
  border-radius: 10px;
}